<a href="https://colab.research.google.com/github/AlexanderF048/GOIT_DS/blob/main/HW_7_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

!pip install scikit-surprise
from surprise import SVD, SVDpp, NMF
from surprise.model_selection import cross_validate

from surprise import Dataset
from surprise import Reader

from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

from google.colab import drive
drive.mount('/content/gdrive')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 kB 12.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.10.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp310-cp310-linux_x86_64.whl size=3095389 sha256=49c151c2aacc68b796da5cc5e378e595a7bc44a660be1f2e4f6e8fed932a5646
  Stored in directory: /root/.cache/pip/wheels/a5/ca/a8/4e28def53797fdc4363ca4af740db15a9c2f1595ebc51fb445
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3
Mounted at /content/gdrive

In [2]:
df_movies = pd.read_csv('gdrive/My Drive/Data-science/ml-latest-small_hw7/movies.csv')
df_movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
df_ratings = pd.read_csv('gdrive/My Drive/Data-science/ml-latest-small_hw7/ratings.csv')
df_ratings.head(5)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
surp_reader = Reader(rating_scale=(1, 5))
surp_data = Dataset.load_from_df(df_ratings[['userId', 'movieId', 'rating']], surp_reader)

In [23]:
algorithm = SVD(verbose=True, n_epochs=5)
cross_validate(algorithm, surp_data, measures=['RMSE', 'MSE', 'MAE', 'FCP'], cv=5, verbose=True)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Evaluating RMSE, MSE, MAE, FCP of algorithm SVD on 2 split(s).

                  Fold 1  Fold 2  Mean    Std
RMSE (testset)    0.9036  0.9095  0.9065  0.0029
MSE (testset)     0.8164  0.8271  0.8218  0.0053
MAE (testset)     0.7027  0.7038  0.7032  0.0006
FCP (testset)     0.6282  0.6319  0.6301  0.0019
Fit time          0.25    0.40    0.33    0.08
Test time         1.03    0.58    0.80    0.22

{'test_rmse': array([0.9035754, 0.9094662]),
 'test_mse': array([0.8164485 , 0.82712877]),
 'test_mae': array([0.70266455, 0.70381319]),
 'test_fcp': array([0.62816886, 0.63194203]),
 'fit_time': (0.25061535835266113, 0.4027533531188965),
 'test_time': (1.0271403789520264, 0.5826663970947266)}

In [6]:
algorithm = SVDpp(verbose=True, n_epochs=5)
cross_validate(algorithm, surp_data, measures=['RMSE', 'MSE', 'MAE', 'FCP'], cv=3, verbose=True)

 processing epoch 0
 processing epoch 1
 processing epoch 2
 processing epoch 3
 processing epoch 4
 processing epoch 0
 processing epoch 1
 processing epoch 2
 processing epoch 3
 processing epoch 4
 processing epoch 0
 processing epoch 1
 processing epoch 2
 processing epoch 3
 processing epoch 4
Evaluating RMSE, MSE, MAE, FCP of algorithm SVDpp on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.8846  0.8878  0.8855  0.8860  0.0013
MSE (testset)     0.7825  0.7882  0.7841  0.7849  0.0024
MAE (testset)     0.6830  0.6873  0.6842  0.6848  0.0018
FCP (testset)     0.6604  0.6585  0.6543  0.6577  0.0026
Fit time          14.70   14.20   14.00   14.30   0.29
Test time         12.82   12.86   12.77   12.82   0.04

{'test_rmse': array([0.88461563, 0.88779018, 0.88547086]),
 'test_mse': array([0.7825448 , 0.78817141, 0.78405864]),
 'test_mae': array([0.68295698, 0.6872906 , 0.68424987]),
 'test_fcp': array([0.6604447 , 0.65849209, 0.65430647]),
 'fit_time': (14.697144031524658, 14.200970649719238, 14.002312898635864),
 'test_time': (12.822549819946289, 12.858195066452026, 12.766525983810425)}

In [26]:
algorithm = NMF(verbose=True, n_epochs=5)
cross_validate(algorithm, surp_data, measures=['RMSE', 'MSE', 'MAE', 'FCP'], cv=2, verbose=True)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Evaluating RMSE, MSE, MAE, FCP of algorithm NMF on 2 split(s).

                  Fold 1  Fold 2  Mean    Std
RMSE (testset)    1.0220  1.0043  1.0131  0.0088
MSE (testset)     1.0444  1.0087  1.0265  0.0179
MAE (testset)     0.8247  0.8023  0.8135  0.0112
FCP (testset)     0.6171  0.6185  0.6178  0.0007
Fit time          0.21    0.21    0.21    0.00
Test time         0.44    0.48    0.46    0.02

{'test_rmse': array([1.02195598, 1.00433512]),
 'test_mse': array([1.04439402, 1.00868902]),
 'test_mae': array([0.82467035, 0.8022958 ]),
 'test_fcp': array([0.61707699, 0.61849842]),
 'fit_time': (0.2143845558166504, 0.21414566040039062),
 'test_time': (0.4352588653564453, 0.4801030158996582)}

✅ Вывод:
Исходя из вычислений метрик наиболее эффективен агоритм "SVDpp".

-при значении сv=3(trainsets and testsets split) ,модель более успешна чем при значении 2.

-при росте n_epochs (number of iteration) результат улучшается